.bulbsContainer {
  width: 100vw;
  height: 100vh;
  background: $background;
}

.bulbCard {
  margin: 60px auto;
  width: 55%;
  border-radius: 5px;
  padding: 20px;
  background: white;
  box-shadow: $box-shadow;
  position: relative;
  clear: both;

  .bulbIcon {
    width: 30px;
  }

}
