.bulbsContainer {
    width: 100vw;
    background: $background;
}

.off {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), image-url('paperBackground.png');
}

.bulbCard {
    margin: 20px auto;
    font-size: 14px;
    width: 55%;
    border-radius: 5px;
    padding: 20px;
    background: white;
    box-shadow: $box-shadow;
    position: relative;
    clear: both;
    font-family: $open;
    @include media(700px) {
        width: 75%;
    }

    li {
        padding: 10px;

        .bulbIcon {
            width: 20px;
            display: inline;
            float: left;
        }

        p {
            display: inline;
            margin-left: 10px;
        }

        .likes {
            position: absolute;
            right: 30px;
            top: 28px;
            @include media(450px) {
                left: 28px;
                top: 53px;
            }
        }

        .likeBtn {
            position: absolute;
            right: 30px;
            top: 55px;
            letter-spacing: 3px;
            @include button($black);
            padding: 0 10px;
            font-size: 1.5em;

            &:hover {
                @include hover();
            }
        }
    }

    .commentList {
        margin-top: 10px;

        li {
            border-radius: 5px;
            font-style: italic;
            color: rgba(black, .5);
            background: $innerBorderColor;
        }
    }

    .addComment {
        padding: 10px;

        input {
            width: 75%;
        }

        button {
            @include button($black);
            width: 23%;
            letter-spacing: 3px;
            padding: 2px 0;
            font-size: 14px;

            &:hover {
                @include hover();
            }
            @include media(460px) {
                letter-spacing: normal;
            }
        }
    }
}
