* {
    box-sizing: border-box;
}

.homeContainer {
    width: 100vw;
    height: 100vh;
    margin: 0;

    .homeHeaderH2 {
        font-family: $cabinSketch;
        font-size: 3em;
        text-align: center;

        .headerIcon {
            width: 50px;
        }
    }

    .homeHeaderP {
        margin-top: 10px;
        font-family: $open;
        font-size: 1em;
        color: black;
        text-align: center;
        @include media(483px) {
            width: 300px;
        }
    }

    .homeVideo {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: -100;
    }

    .homeHeaderContainer {
        @include center();
        top: 30%;
    }

    .homeBtnContainer {
        @include center();
        top: 60%;
        border-radius: 5px;
        padding: 10px;
        @include media(610px) {
            left: 46%;
            transform: translateX(-45%);
        }
        @include media(565px) {
            left: 43%;
            transform: translateX(-38%);
        }
        @include media(533px) {
            left: 40%;
        }
        @include media(506px) {
            left: 37%;
        }
        @include media(483px) {
            left: 50%;
        }
        @include media(450px) {
            left: 49%;
        }
        @include media(450px) {
            left: 46%;
        }

        li {
            border-radius: 5px;
            padding: 10px;
            margin-right: 20px;
            margin-left: 20px;
            float: left;
            list-style: none;
            font-family: $amatica;
            cursor: pointer;
            font-size: 2em;
            box-shadow: $box-shadow;
            @include media(695px) {
                margin-right: 0;
            }
            @include media(483px) {
                margin-bottom: 15px;
            }

            a {
                text-decoration: none;
                color: black;

                &:hover {
                    @include hover();
                }
            }

            &:hover {
                padding: 10px;
                border-radius: 5px;
                transform: scale(1.25);
                @include hover();
            }
        }
    }

    .backToTopBtn {
        @include center();
        bottom: -10vh;
        border-radius: 5px;
        padding: 10px;
        font-family: $amatica;
        cursor: pointer;
        font-size: 1.5em;
        box-shadow: $box-shadow;

        &:hover {
            @include hover();
        }
        @include media(1088px) {
            bottom: -14vh;
            background: $black;
            color: white;
        }
        @include media(995px) {
            bottom: -10vh;
        }
    }
}
