@mixin center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
@mixin hover {
    color: yellow;
    animation: neon 1.5s ease-in-out infinite alternate;
}
@mixin inset-type() {
    text-shadow: 0 1px 3px rgba(255,255,255,.2), -1px -1px 1px rgba(0,0,0, .2);
}
@mixin button($btnBackground) {
    border-radius: 5px;
    padding: 10px;
    font-family: $amatica;
    cursor: pointer;
    font-size: 1.5em;
    background: $btnBackground;
    color: white;
    border: none;
    box-shadow: $box-shadow;
}
@mixin media ($bp) {
     @media only screen and (max-width: $bp){
        @content;
    }
}
