.userHomeNav {
    width: 100vw;
    background: $black;
    overflow: hidden;

    ul {
        li {
            .navIcon {
                width: 50px;
                z-index: 5;
                @include inset-type();

            }
            margin: 10px 0 10px 40px;
            float: left;
            font-family: $open;
            font-size: 3em;
            @include inset-type();

            &:hover {
              @include hover();
            }
        }
    }
}
