.usersHomeContainer {
    width: 100vw;
    height: 200vh;
    background: $background;

    .off {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), image-url('paperBackground.png');
    }

    .bulbForm {
        width: 55%;
        margin: 60px auto 20px;
        border-radius: 5px;
        padding: 20px;
        background: white;
        position: relative;
        clear: both;
        box-shadow: $box-shadow;
        @include media(700px) {
            width: 75%;
        }
        @include media(407px) {
            margin: 20px auto;
        }

        .lamp {
            width: 42px;
            position: absolute;
            top: -49px;
            left: 300px;
            transition: all 2s ease;
            border-radius: 17%;
            @include media (500px) {
                left: 200px;
            }
            @include media (447px) {
                left: 245px;
            }
        }

        .illuminate {
            box-shadow: -70px 94px 300px 10px rgba(255,255,0,1);
            background: radial-gradient(ellipse at center, yellow 18%, rgba(258, 257, 255, 0) 73%);
        }

        .lampOn {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            position: absolute;
            background: yellow;
            top: -28px;
            left: 304px;
            @include media (500px) {
                left: 204px;
            }
            @include media (447px) {
                left: 249px;
            }
        }

        h2 {
            text-align: center;
            font-family: $amatica;
            font-size: 3em;
            letter-spacing: 4px;
            @include media(372px) {
                font-size: 2.5em;
            }
        }

        label {
            font-size: 1.5em;
            display: inline;
            margin-top: 5px;
            font-family: $amatica;
            letter-spacing: 3px;
            margin-right: 5px;
            @include media(415px) {
                margin-right: -1px;
            }
        }

        textarea {
            border: 1px solid $innerBorderColor;
            margin: 10px 0;
            width: 100%;
            border-radius: 5px;
            font-family: $open;
            display: block;
            padding: 5px;
        }

        select {
            outline: 0;
            box-shadow: none;
            border: 0;
            background: red;
            clear: both;
            font-size: 1em;
        }

        button {
            position: absolute;
            right: 20px;
            bottom: 16px;
            letter-spacing: 3px;
            width: 80px;
            @include button($black);
            padding: 0;

            &:hover {
                @include hover();
            }
            @include media(407px) {
                position: static;
                margin-top: 5px;
            }
        }
    }

    .btnContainer {
        width: 55%;
        margin: 0 auto;

        button {
            margin-right: 30px;
            @include button($black);
            padding: 0 10px;
            font-size: 2em;

            &:hover {
                @include hover();
            }
            @include media(502px) {
                margin-bottom: 10px;
            }
        }
    }

    .statsContainer {
        position: absolute;
        top: 100vh;
        width: 100vw;
        height: 100vh;

        h1 {
            margin-top: 20px;
            text-align: center;
            font-size: 3em;
            font-family: $cabinSketch;
        }

        hr {
            width: 87%;
        }

        .graphContainer {
            margin: 0 auto;
            width: 80%;

            h2 {
                text-align: center;
                font-family: $open;
                margin: 20px;
            }

            li {
                float: left;
                width: calc(70%/8);
                margin: 10px;
                list-style: none;
                box-shadow: $box-shadow;
                font-family: $cabinSketch;
                text-align: center;
                color: white;
                padding: 5px;

                p {
                    text-align: center;
                    font-family: $open;
                    margin-top: 10px;
                    font-family: $cabinSketch;
                    color: $black;
                    font-size: 1.5em;
                }
            }
        }

        .statsToTopBtn {
            @include center();
            bottom: 0;
            @include button($black);

            &:hover {
                @include hover();
            }
        }
    }

    .histContainer {
        position: absolute;
        top: 200vh;
        width: 100vw;
        background: $background;

        h1 {
            margin-top: 20px;
            text-align: center;
            font-size: 3em;
            font-family: $cabinSketch;
        }

        h2 {
            text-align: center;
            font-family: $open;
            margin: 20px;
        }

        hr {
            width: 87%;
        }

        .histToTopBtn {
            @include center();
            @include button($black);

            &:hover {
                @include hover();
            }
        }
    }
}
