@import url( 'https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans');
@import url( 'https://fonts.googleapis.com/css?family=Cabin+Sketch');

$amatica: 'Amatic SC', cursive;
$open: 'Open Sans', sans-serif;
$cabinSketch: 'Cabin Sketch', cursive;
