@import url( 'https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans');
@import url( 'https://fonts.googleapis.com/css?family=Cabin+Sketch');

$amatica: 'Amatic SC', cursive;
$open: 'Open Sans', sans-serif;
$cabinSketch: 'Cabin Sketch', cursive;
$black: #232323;
$gradient: radial-gradient(ellipse at center, rgba(19,19,19,1) 0%, rgba(76,76,76,1) 100%);
$box-shadow: 0 0 9px 0 rgba(0,0,0,0.5);
$background: image-url('paperBackground.png');
$innerBorderColor: #eee;
